/* Importar fuentes después de los estilos de Tailwind */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/*//////////////////////////////////////////////////////////////////
[ SCROLLBAR ]*/

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

html[dir] .dark ::-webkit-scrollbar-thumb {
  background-color: #d4d4d8;
}

::-webkit-scrollbar-thumb {
  background-color: #d4d4d8;
  border-radius: 50px;
}

html[dir] .dark ::-webkit-scrollbar-track {
  background-color: initial;
}

::-webkit-scrollbar-track {
  background: #f4f4f5;
  border-radius: 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {}

* {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}



@keyframes spin-once {

  0%,
  to {
    transform: rotate(0deg)
  }

  25% {
    transform: rotate(-30deg)
  }

  75% {
    transform: rotate(30deg)
  }
}

/* @media (min-width: 1920px) {
  html {
    transform: scale(1.5);
    transform-origin: top left;
  }
  body {
    width: 66.666vw;
    overflow-x: hidden;
  }
} */

.animate-spin-once {
  animation: spin-once 1s ease-in-out
}

.error-login {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 16px -4px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  animation: 0.3s ease-in 0s 1 normal none running fadeIn;
}

.error-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.error-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.toast-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.toast-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

number-flow-react::part(suffix) {
  margin-left: .0625em;
  font-size: 0.75em;
  color: var(--muted);
}

/*--------------LEYENDA-------------*/

.card-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* ----------------Estilos ----------------*/

.custom-scrollbar {
  overflow-y: auto; 
  scrollbar-width: thin;
  scrollbar-color: #ffffff40 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff40;
  border-radius: 4px;
}

/*----------------Circular----------------*/
.circular-container {
  position: relative;
  width: 40px; /* Ajusta el tamaño del contenedor */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-chart {
  display: block;
  width: 100%;
  height: 100%;
}

.circle-bg {
  fill: none;
  stroke: #e4e4e4; /* Color del anillo de fondo */
  stroke-width: 12;
}

.circle {
  fill: none;
  stroke: #04C286; /* Color del progreso */
  stroke-width: 12;
  stroke-linecap: round; /* Bordes redondeados */
  transform: rotate(-90deg); /* Ajusta la posición inicial */
  transform-origin: 50% 50%; /* Punto de rotación en el centro */
  transition: stroke-dasharray 0.35s ease-out; /* Animación */
}

.percentage-text {
  position: absolute;
  color:black;
  font-size: 0.6rem;
  font-weight: bold;
}

/*----------------Elevation----------------*/
.elevation-100{
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35),
  0px 1px 3px rgba(0, 0, 0, 0.5),
  inset 0px 1px 0px rgba(255, 255, 255, 0.08),
  inset 0px 0px 1px rgba(255, 255, 255, 0.3);
}
/*----------------handsontable----------------*/

.handsontable th {
  background-color: #959493  !important;
  color: #ffffff !important;
  text-transform: uppercase !important;
  font-weight: bold !important;          
}

/* Solo encabezados de columnas (no los de fila) */
.handsontable .ht_clone_top th {
  background-color:#FF5000  !important;
  color: #fff !important;
}

.handsontable td,
.handsontable th {
  border-color: #FF500030 !important;
}

.handsontable {
  --ht-header-active-border-color: #FF5000;
  --ht-header-active-background-color: #FF5000;
  --ht-header-row-active-background-color: #FF5000;
  --ht-cell-selection-border-color: #FF5000;
  --ht-scrollbar-thumb-color: #dbdbdb;
  --ht-cell-autofill-background-color: #FF5000;
  --ht-cell-autofill-border-color: #FF5000;
  --ht-cell-selection-background-color: #FF5000;
  --ht-cell-editor-border-color: #FF5000;
}

.htAutocompleteArrow{
  color:#FF5000;
}

.handsontable .columnSorting.sortAction {
  max-width: 100% !important;  
}

.htCore {
  z-index: 99;
}

.handsontable .ht-total-row.htDimmed {
  background-color: #3c3c3c !important;
  font-weight: bold !important;
  color: white !important;
}
.handsontable .ht-total-row-2.htDimmed {
  background-color: #595859 !important;
  font-weight: bold !important;
  color: white !important;
}


.ht-row-even {
  background-color: #FF500015 !important;
}


.handsontable .ht_clone_top thead tr:nth-child(2) th,
.handsontable .ht_clone_top_left_corner thead tr:nth-child(2) th,
.handsontable .ht_master thead tr:nth-child(2) th {
  background-color: #3c3c3c !important;
}

.handsontable.listbox table td.current:not([aria-expanded=true]) {
    box-shadow: inset 0 0 0 1px #FF5000 !important;
    background-color: #FF500020 !important;
}

.handsontable.listbox table td.htDimmed:not(.handsontable.listbox table td:hover) {
    background-color: #FF500020 !important;
}

/*----------------Zoom----------------*/
/* Estilos para el control de zoom en modo oscuro */
.leaflet-bar {
  background-color: rgba(0, 0, 0, 0.8) !important; /* Color de fondo oscuro */
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;
  overflow: hidden;
}

.leaflet-bar a {
  background-color: transparent !important;
  color: #e5e7eb !important; /* Texto claro */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  width: 32px !important;
  height: 32px !important;
  line-height: 30px !important;
  font-size: 18px !important;
  transition: all 0.2s ease;
}

.leaflet-bar a:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.leaflet-bar a:first-child {
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
}

.leaflet-bar a:last-child {
  border-bottom: none !important;
  border-bottom-left-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
}

/*----------------Animación----------------*/
.truck-inner.marker-highlight {
  animation: truck-pulse 1.2s ease-out 3;
  transform-origin: center center;
}

@keyframes truck-pulse {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 0 rgba(255,200,0,0));
  }
  50% {
    transform: scale(2);
    filter: drop-shadow(0 0 20px rgba(162, 127, 0, 0.95));
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 0 rgba(255,200,0,0));
  }
}

.leaflet-map-pane {
  transform: rotate(-25deg);
  transform-origin: center center;
}

.dialog-with-overlay::before {
  content: '';
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  pointer-events: none;
}


/*//////////////////////////////////////////////////////////////////
[ NOTYF ]*/
/* Contenedor principal */
.notyf__toast {
  min-width: 320px;
  max-width: 420px;
  padding: 16px 18px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont;
  border-radius: 15px !important;
  background: #141026;
  user-select: none;
}

.notyf__title {
  font-size: 14px !important;
  font-weight: 500;
}

/* Texto */
.notyf__message {
  font-size: 13px !important;
  line-height: 1.25 !important;
  font-weight: 500;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  gap: px;
}

/* Mensaje secundario */
.notyf__message small {
  font-size: 13px;
  opacity: 0.85;
}

/* Icono */
.notyf__icon {
  width: 28px;
  height: 28px;
}

/* SUCCESS */
.notyf__toast--success {
  border-left: 5px solid #22c55e;
}

/* ERROR */
.notyf__toast--error {
  border-left: 5px solid #b31800;
}

/* WARNING */
.notyf__toast--warning {
  border-left: 5px solid #f59e0b;
}

/* INFO */
.notyf__toast--info {
  border-left: 5px solid #3b82f6;
}

.notyf__toast--error strong {
  color: white;
}

.notyf__toast--success strong {
  color: #22c55e;
}
